.mission-vision-section {
  width: 85%;
  margin: 70px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.mission-section {
  width: 70%;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("./../../../public/assets/mision-image.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -20% 20%; */
}

.vision-section {
  width: 70%;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("./../../../public/assets/mision-image.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -20% 20%; */
}

.mission-section,
.vision-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.mission-title,
.vision-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 30px;
  position: relative;
  display: inline-block;
  color: #1d5094;
}


.mission-text,
.vision-text {
  /* width: 70%; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 25px;
  margin-top: 15px;
}
