.mission-vision-section {
  width: 85%;
  margin: 70px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.mission-section,
.vision-section {
  width: 70%;
}

.mission-section,
.vision-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.mission-title,
.vision-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 30px;
  position: relative;
  display: inline-block;
  color: #1d5094;
}

.mission-text,
.vision-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 25px;
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  .mission-vision-section {
    width: 90%;
    margin: 0px auto;
    gap: 30px;
  }

  .mission-section,
  .vision-section {
    width: 100%;
  }

  .mission-section,
  .vision-section {
    gap: 10px;
  }

  .mission-title,
  .vision-title {
    font-size: 1.4rem;
  }

}
