nav {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img-parent img {
  width: 60%;
  mix-blend-mode: darken;
}

menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.link-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  font-size: .9rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.link-item::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #a4864b;
  transition: width 0.3s ease;
  z-index: -1;
}

.link-item:hover::after {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  nav,
  menu {
    display: none;
  }

  .logo-img-parent {
    display: none;
    width: 90%;
    text-align: center;
  }
}