.choose-us-section-parent {
  background-color: #f9f9f9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./../../../public/assets/slider-image-8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chooseUsSection {
  width: 90%;
  height: auto;
  margin: 50px auto;
  padding: 60px 0;
}

.chooseUsSectionTitles,
.servicesSectionTitles {
  width: 60%;
  margin: auto;
}

p.chooseUsSectionTitle {
  font-size: 2.2rem;
  text-align: center;
  line-height: 22px;
  font-weight: 800;
  color: #92d7e6;
  margin: 0px 0px 8px;
  position: relative;
}

p.chooseUsSectionTitle::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #92d7e6;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

div.chooseUsCardsParent {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.chooseUsCards {
  width: 100%;
  padding: 30px;
}

.chooseUsCardIcon {
  border-radius: 50%;
  margin-bottom: 20px;
}

.chooseUsCardTitle {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 25px;
  margin: 0px 0px 15px;
}

.chooseUsCardContent {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
}
